@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  color: var(--tw-color-neutral-200);
  background-color: var(--tw-color-neutral-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Sugar high colors */
  --sh-class: #4c97f8;
  --sh-identifier: #dad7cd;
  --sh-sign: #5e5439;
  --sh-string: #0fa295;
  --sh-keyword: #52796f;
  --sh-comment: #696969;
  --sh-jsxliterals: #6266d1;
  --sh-property: #a4c3b2;
  --sh-entity: #e25a1c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 42rem;
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
}
